<div class="ui padded basic segment bg-white" data-th-fragment="top_menu(activeMenu)"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
>

    <div class="right ui large secondary pointing menu">
        <div class="d-flex flex-column justify-content-start left aligned header item menu">
            <h1 style="color:#50b33a">Jack's Computer Shop</h1>
        </div>

        <div class="ui large secondary pointing menu" sec:authorize="isAuthenticated()">
            <a class="item" data-th-href="@{/inventory}" data-th-classappend="${(activeMenu eq 'inventory') ? 'active' : ''}">Inventory</a>
            <a class="item" data-th-href="@{/api/v1/sales}" data-th-classappend="${(activeMenu eq 'sales') ? 'active' : ''}">Sales</a>
            <a class="item" data-th-href="@{/api/v1/order/orderList}" data-th-classappend="${(activeMenu eq 'orders') ? 'active' : ''}">Orders</a>
            <a class="item" data-th-href="@{/api/v1/customer/manageCustomers}" data-th-classappend="${(activeMenu eq 'customers') ? 'active' : ''}">Customers</a>
        </div>
        <div class="ui large secondary pointing menu" sec:authorize="hasAuthority('ADMIN')">
            <a class="item" data-th-href="@{/api/v1/report}" data-th-classappend="${(activeMenu eq 'reports') ? 'active' : ''}">Sale Reports</a>
            <a class="item" data-th-href="@{/api/v1/user/manageUsers}" data-sec-authorize="isAuthenticated()" data-th-classappend="${(activeMenu eq 'users') ? 'active' : ''}">Users</a>
        </div>

        <div class="right item" style="margin-left: 0% !important;">
            <!--            <a class="ui secondary basic button" style="margin-right: 1em" data-th-href="@{/login}" data-sec-authorize="!isAuthenticated()">Log in</a>-->
            <a class="ui secondary basic button" data-th-attr="onclick=|$('#logout_form').submit();|" data-sec-authorize="isAuthenticated()">Log out</a>
            <form id="logout_form" data-th-action="@{/logout}" method="post"></form>
            <!--            <a class="ui secondary basic button" data-sec-authorize="!isAuthenticated()" data-th-href="@{/user/sign-up}">Sign up</a>-->
        </div>
    </div>

    <div sec:authorize="isAuthenticated()">
        Logged in as <span sec:authentication="name"></span><br>
        Roles: <span sec:authentication="principal.authorities"></span>
    </div>
</div>