<!DOCTYPE html>
<html lang="en"
      data-th-fragment="layout(title, activeMenu, content)"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:replace="~{fragments/head :: head}"></div>
    <title th:text="${title}"></title>
</head>
<body>
    <div data-th-replace="~{fragments/menu::top_menu(${activeMenu})}"></div>

    <div class="ui container">
        <!--  TOP MENU-->
        <!--  CONTENT-->
        <div data-th-insert="${content}"></div>

        <script data-th-if="${toast}" data-th-inline="javascript">
            $.toast({
                title: /*[[${toast.title}]]*/'',
                message: /*[[${toast.message}]]*/'',
                class: /*[[${toast.clazz}]]*/''
            })
            ;

        </script>

    </div>

    <hr>

    <div th:replace="~{fragments/footer :: footer}"></div>

</body>
</html>