<!DOCTYPE html>
<html th:replace="~{fragments/skeleton::layout('sign_in', ~{::#sign_in_content})}">
<head>
    <title>Sign In</title>
</head>
<body>
    <div id="sign_in_content" class="container text-center">


        <!--TODO: format sign in form similar to Github-->
        <form class="container segment ui large form"
              th:action="@{/api/v1/auth/signInProcess}"
              method="post" style="max-width: 600px; margin: 0 auto;">

            <div class="">
                <h1>JCS</h1>
            </div>

            <div class="field">
                <div class="ui left icon inverted input">
                    <i class="user icon"></i>
                    <input type="text" id="user" name="user" placeholder="Username" class="inverted input"
                           autocomplete="off" autofocus="">
                </div>
            </div>
            <div class="field">
                <div class="ui left icon inverted input">
                    <i class="lock icon"></i>
                    <input type="password" id="pass" name="pass" placeholder="Password">
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>

            <div class="ui basic segment fluid container">
                <div class="ui vertical fluid wrapping spaced buttons">
                    <a class="ui fluid large basic secondary button" data-th-href="@{/oauth2/authorization/google}">
                        <i class="google icon"></i>
                        Sign in via Google
                    </a>
                    <!--<a class="ui fluid large basic secondary button" data-th-href="@{/oauth2/authorization/github}">-->
                    <!--    <i class="github icon"></i>-->
                    <!--    Sign in via Github-->
                    <!--</a>-->
                </div>
            </div>
        </form>
    </div>
</body>
</html>
