<!DOCTYPE html>
<html th:replace="~{fragments/skeleton :: layout('Add User', 'user_form', ~{::#user_form_content})}">
<head>
</head>
<body>
  <div id="user_form_content"
       class="container text-center">

    <div>
      <h1 th:text="${action}=='add'? 'New User Form':'Update User Form'"></h1>
    </div>

    <form th:with="baseURL='/api/v1/user'"
          th:action="@{${action == 'add' ? baseURL+'/addUser':baseURL +'/updateUser'}(USERNAME=${oldUsername == '' ? updateUser.username : oldUsername })}"
          th:object="${updateUser}"
          method="post" style="max-width: 600px; margin: 0 auto;">
      <div class="m-3">
        <div class="form-group row">
          <label class="col-4 col-form-label">Username: </label>
          <div class="col-8">
            <input type="text" th:field="${updateUser.username}" class="form-control" required th:disabled="${oldUsername == '' ? false : true}"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Password: </label>
          <div class="col-8">
            <input type="password" th:field="${updateUser.password}" class="form-control"
                   th:disable="${updateUser.provider}"
                   th:required="${action}=='add'? 'required' : null" minlength="6" maxlength="10"/>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Name: </label>
          <div class="col-8">
            <input type="text" th:field="${updateUser.name}" class="form-control"
                   required minlength="2" maxlength="20" />
          </div>
        </div>

        <div class="form-group row">
          <label class="col-4 col-form-label">Email: </label>
          <div class="col-8">
            <input type="email" th:field="${updateUser.email}" class="form-control"
                   required/>
          </div>
        </div>
        <!--<div class="form-group row">-->
        <!--  <label class="col-4 col-form-label">Last Name: </label>-->
        <!--  <div class="col-8">-->
        <!--    <input type="text" th:field="*{lastName}" class="form-control"-->
        <!--           required minlength="2" maxlength="20" />-->
        <!--  </div>-->
        <!--</div>-->
        <!--<div class="form-group row">-->
        <!--  <label class="col-4 col-form-label">Role: </label>-->
        <!--  <select th:field="${updateUser.userAuthorities.contains()}" class="col-2">-->
        <!--    <option value="USER">USER</option>-->
        <!--    <option value="ADMIN">ADMIN</option>-->
        <!--  </select>-->
        <!--</div>-->

        <div>
          <button type="submit" class="btn btn-primary" th:text="${action}=='add' ? 'Add User' : 'Update User'"></button>
        </div>
      </div>
    </form>

    <!--<div th:text="${error}? ${error.message}: null"></div>-->
  </div>
</body>
</html>