<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      th:replace="~{fragments/skeleton::layout('home', ~{::#sign_in_form})}"
>
<head>
    <title>Sign In</title>
</head>
<body>
    <div id="sign_in_form" class="container text-center">
        <div>
            <h1>JCS User Sign In</h1>
            <h2>---</h2>
        </div>
        <form th:action="@{/api/v1/auth/signInProcess}"
              method="post" style="max-width: 600px; margin: 0 auto;">
            <div class="m-3">
                <div class="form-group row">
                    <label class="col-4 col-form-label">Username: </label>
                    <div class="col-8">
                        <input type="text" id="user" name="user" placeholder="Username" class="inverted input"
                               autocomplete="off" autofocus="">
                    </div>
                </div>

                <div class="form-group row">
                    <label class="col-4 col-form-label">Password: </label>
                    <div class="col-8">
                        <input type="password" id="pass" name="pass" placeholder="Password">
                    </div>
                </div>

                <div>
                    <button type="submit" class="btn btn-primary">Sign In</button>
                </div>
            </div>
        </form>
        <div class="ui basic segment fluid container">
            <div class="ui vertical fluid wrapping spaced buttons">
                <a class="ui fluid large basic secondary button" data-th-href="@{/oauth2/authorization/google}">
                    <i class="google icon"></i>
                    Sign in via Google
                </a>
                <a class="ui fluid large basic secondary button" data-th-href="@{/oauth2/authorization/github}">
                    <i class="github icon"></i>
                    Sign in via Github
                </a>
            </div>
        </div>
    </div>
</body>
</html>
