<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <div th:replace="fragments/head :: head"></div>
    <title>Sign In</title>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container text-center">
    <div>
        <h1>User Sign In</h1>
    </div>
    <form th:action="@{/api/v1/auth/signInProcess}" th:object="${signInRequest}"
          method="post" style="max-width: 600px; margin: 0 auto;">
        <div class="m-3">
            <div class="form-group row">
                <label class="col-4 col-form-label">E-mail: </label>
                <div class="col-8">
                    <input type="email" th:field="*{email}" class="form-control" required />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-4 col-form-label">Password: </label>
                <div class="col-8">
                    <input type="password" th:field="*{password}" class="form-control"
                           required minlength="6" maxlength="10"/>
                </div>
            </div>

            <div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
        </div>
    </form>

</div>
</body>
<div th:insert="fragments/footer :: footer"></div>

</html>