<!DOCTYPE html>
<html th:replace="~{fragments/skeleton :: layout('customers', ~{::#customers_content})}">
<head>
    <title>Customer List</title>
</head>
<body>
    <div id="customers_content"
         class="container text-center">

        <h1>MANAGE CUSTOMERS</h1>

        <table class="table table-bordered table-striped">
            <thead class="thead-dark">
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
                <th>Zip Code</th>
            </tr>
            </thead>

            <tbody>
            <tr th:each="customer : ${customers}">
                <td th:text="${customer.firstName}"></td>
                <td th:text="${customer.lastName}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.address}"></td>
                <td th:text="${customer.city}"></td>
                <td th:text="${customer.state}"></td>
                <td th:text="${customer.zipCode}"></td>
                <td><a th:href="@{/api/v1/user/updateCustomer(customerId=${customer.id})}" class="btn btn-primary btn-sm mb-3">Update</a>
                    <a th:href="@{/api/v1/user/deleteCustomer(customerId=${customer.id})}" class="btn btn-danger btn-sm mb-3"
                       onclick="if(!(confirm('Are you sure you want to delete this customer?')))return false">Delete</a>
                </td>
            </tr>
            </tbody>
        </table>

        <h3><a class="btn btn-primary btn-lg mb-3" th:href="@{/api/v1/user/addCustomer}">Add Customer</a></h3>
    </div>

</body>
</html>