<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      data-th-replace="~{fragments/skeleton::layout('Inventory', 'inventory', ~{::#home_content})}"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
</head>
<body>
    <div id="home_content" class="container">
        <!--<button id="test_jquery">test button</button>-->
        <div class="container text-center">
            <h1>INVENTORY</h1>

            <!--region PART-->
            <div sec:authorize="hasAuthority('ADMIN')">
                <h2>Parts</h2>

                Filter: <input type="text" name="partKeyword" id="partKeyword" size="50"/>
                <!--<button th:onclick="'clearKeyword('+${partKeyword}+')'">Search</button>-->
                <button onclick="clearKeyword('part', true)">Search</button>
                <button onclick="clearKeyword('part', false)">Clear</button>

                <br><br>
                <a th:href="@{/showFormAddInPart}" class="btn btn-primary btn-sm mb-3">Add Inhouse Part</a>
                <a th:href="@{/showFormAddOutPart}" class="btn btn-primary btn-sm mb-3">Add Outsourced Part</a>
                <div id="partTable">
                    <table data-th-replace="~{fragments/inventoryTable::partTable}"></table>
                </div>
            </div>
            <!--endregion-->

            <!--region PRODUCT-->
            <h2>Products</h2>

            Filter: <input type="text" name="productKeyword" id="productKeyword" size="50" />
            <button onclick="clearKeyword('product', true)">Search</button>
            <button onclick="clearKeyword('product', false)">Clear</button>

            <br><br>
            <a th:href="@{/showFormAddProduct}" class="btn btn-primary btn-sm mb-3" sec:authorize="hasAuthority('ADMIN')">Add Product</a>
            <div id="productTable">
                <table data-th-replace="~{fragments/inventoryTable::productTable}"></table>
            </div>
            <!--endregion-->

            <!--region SERVICE-->
            <h2>Services</h2>

            Filter: <input type="text" name="serviceKeyword" id="serviceKeyword" size="50"/>
            <button onclick="clearKeyword('service', true)">Search</button>
            <button onclick="clearKeyword('service', false)">Clear</button>

            <br><br>
            <a th:href="@{/addService}" class="btn btn-primary btn-sm mb-3" sec:authorize="hasAuthority('ADMIN')">Add Service</a>
            <div id="serviceTable">
                <table data-th-replace="~{fragments/inventoryTable::serviceTable}"></table>
            </div>
            <!--endregion-->
        </div>

        <!--region Obtain CSRF token using Thymeleaf -->
        <script th:inline="javascript">
            /*<![CDATA[*/
            let _csrf_token = /*[[${_csrf.token}]]*/ '';
            let _csrf_param_name = /*[[${_csrf.parameterName}]]*/ '';
            /*]]>*/

            // Set the _csrf attribute with _csrf_token from Spring security
            let requestData = {};
            requestData[_csrf_param_name] = _csrf_token; // Adds the token
        </script>
        <!--endregion-->

        <script>
            // document.getElementById("btnClearPart").addEventListener("click", function (e) {
            //     $("#partKeyword").val("");
            // })
            // document.getElementById("btnClearProduct").addEventListener("click", function (e) {
            //     $("#productKeyword").val("");
            // })
            // document.getElementById("btnClearService").addEventListener("click", function (e) {
            //     $("#serviceKeyword").val("");
            // })

            function clearKeyword(table, hasKeyword) {
                let keywordInput = $(`#${table}Keyword`);
                let keyword;

                if (hasKeyword) {
                    keyword = keywordInput.val();
                } else {
                    keywordInput.val("");
                    keyword = "CLEAR_KEYWORD";
                }

                // send the ajax request
                $.ajax({
                    type: 'POST',
                    url: `http://localhost:8080/findByKeyword/${table}/${keyword}`,
                    data: requestData
                }).done(function (fragment) {
                    // console.log(fragment);
                    // console.log(`#${table}Table`);
                    $(`#${table}Table`).find("table").replaceWith(fragment);
                });
                // console.log("ajax request sent");
            }
        </script>
    </div>
</body>
</html>